# Project - Rcommendation Engine

## Import packages

In [2]:
import numpy as np
import pandas as pd

In [7]:
# Read movies dataset 
movies = pd.read_csv("./data/movies.csv")

# check shape of the dataset
movies.shape

(9742, 3)

In [8]:
# Check the dataframe movies 
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [17]:
# Read dataset user_ratings
user_ratings_df = pd.read_csv("./data/user_ratings.csv")

# check shape of the user_ratings
user_ratings_df.shape

(100836, 6)

In [18]:
# check DataFrame user_ratings
user_ratings_df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [22]:
# Get the counts of occurrences of each movie title
movie_popularity = user_ratings_df["title"].value_counts()

# Inspect the most common values
print(movie_popularity.head().index)

Index(['Forrest Gump (1994)', 'Shawshank Redemption, The (1994)',
       'Pulp Fiction (1994)', 'Silence of the Lambs, The (1991)',
       'Matrix, The (1999)'],
      dtype='object')

In [23]:
# Find the mean of the ratings given to each title
average_rating_df = user_ratings_df[["title", "rating"]].groupby('title').mean()

# Order the entries by highest average rating to lowest
sorted_average_ratings = average_rating_df.sort_values(by="rating", ascending=False)

# Inspect the top movies
print(sorted_average_ratings.head())

                                     rating
title
Gena the Crocodile (1969)               5.0
True Stories (1986)                     5.0
Cosmic Scrat-tastrophe (2015)           5.0
Love and Pigeons (1985)                 5.0
Red Sorghum (Hong gao liang) (1987)     5.0

###### The highest-ranked movies are not movies that most people have heard of. This is because very infrequently-viewed movies are skewing the results.

###### Until now we have used the two most common non-personalized recommendation methods to find movies to suggest. As we may have noticed, 
they both have their weaknesses. Finding the most frequently watched movies will show us what has been watched, but not how people explicitly feel 
about it. However, finding the average of reviews has the opposite problem where we have customers' explicit feedback, but individual preferences 
are skewing the data.

### Combining popularity and reviews

In [27]:
# Create a list of only movies appearing > 50 times in the dataset
movie_popularity = user_ratings_df["title"].value_counts()
popular_movies = movie_popularity[movie_popularity > 50].index
popular_movies

Index(['Forrest Gump (1994)', 'Shawshank Redemption, The (1994)',
       'Pulp Fiction (1994)', 'Silence of the Lambs, The (1991)',
       'Matrix, The (1999)', 'Star Wars: Episode IV - A New Hope (1977)',
       'Jurassic Park (1993)', 'Braveheart (1995)',
       'Terminator 2: Judgment Day (1991)', 'Schindler's List (1993)',
       ...
       'Mystic River (2003)', 'Knocked Up (2007)', 'Grumpier Old Men (1995)',
       'Blow (2001)', 'Mulholland Drive (2001)', 'Army of Darkness (1993)',
       'Bad Boys (1995)', 'Training Day (2001)', 'The Devil's Advocate (1997)',
       'Splash (1984)'],
      dtype='object', length=437)

In [28]:
# Use the popular_movies list to filter the original DataFrame
popular_movies_rankings = user_ratings_df[user_ratings_df["title"].isin(popular_movies)]

# Inspect the movies watched over 50 times
print(popular_movies_rankings)

       userId  movieId  rating   timestamp                 title  \
0           1        1     4.0   964982703      Toy Story (1995)
1           5        1     4.0   847434962      Toy Story (1995)
2           7        1     4.5  1106635946      Toy Story (1995)
3          15        1     2.5  1510577970      Toy Story (1995)
4          17        1     4.5  1305696483      Toy Story (1995)
...       ...      ...     ...         ...                   ...
79246     603     1997     4.0   953925513  Exorcist, The (1973)
79247     606     1997     3.0  1178911117  Exorcist, The (1973)
79248     607     1997     5.0   963079420  Exorcist, The (1973)
79249     608     1997     4.5  1117502891  Exorcist, The (1973)
79250     610     1997     4.0  1479543021  Exorcist, The (1973)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1      Adventure|Animation|Children|Comedy|Fantasy
2      Adventure|Animation|Children|Comedy|Fantasy
3      Adventure|Animation|Children|Comedy|Fantasy
4      Adventure|Animation|Children|Comedy|Fantasy
...                                            ...
79246                               Horror|Mystery
79247                               Horror|Mystery
79248                               Horror|Mystery
79249                               Horror|Mystery
79250                               Horror|Mystery

[40712 rows x 6 columns]

In [29]:
# Find the average rating given to these frequently watched films
popular_movies_average_rankings = popular_movies_rankings[["title", "rating"]].groupby('title').mean()
print(popular_movies_average_rankings.sort_values(by="rating", ascending=False).head())

                                                      rating
title
Shawshank Redemption, The (1994)                    4.429022
Godfather, The (1972)                               4.289062
Fight Club (1999)                                   4.272936
Cool Hand Luke (1967)                               4.271930
Dr. Strangelove or: How I Learned to Stop Worry...  4.268041

###### We are now able to make intelligent non-personalized recommendations that combine both the ratings of an item and how frequently it has been interacted with which is powwrful.